# Assignment 8 <br/>By Eli Weiss

Set up:

In [157]:
#Create a string to store the data we will be working on
textq1="555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"

In [158]:
# Import Regex
import re

**Question 1:** Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When complete, your vector should contain the following entries:


"Moe Szyslak" "Burns, C. Montgomery" "Rev. Timothy Lovejoy" "Ned Flanders" "Simpson,Homer" "Dr. Julius Hibbert"

In [159]:
#Solution inspired by:
# https://www.machinelearningplus.com/python/python-regex-tutorial-examples/

#Remove all the punctuation 
x=re.sub('[%s]' % re.escape("""!"#$%&'()*+-:;<=>?@[\]^_`{|}~"""), '', textq1)
#Remove all numbers
x=re.sub('[0-9]', '', x)

#Add spaces inbetween the words that are adjacent
#(Solution insipred by https://tinyurl.com/y2jqc4ca)
x = re.sub(r"(\w)([A-Z])", r"\1 \2", x)


#print results
x

'Moe Szyslak Burns, C. Montgomery Rev. Timothy Lovejoy Ned Flanders Simpson, Homer Dr. Julius Hibbert'

**Question 2:**
Using your new vector containing only the names of the six individuals, complete the following tasks:
<br/> a. Use your regex skills to rearrange the vector so that all elements conform to the   standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names. 
<br/>b. Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.). <br/>c. Construct a logical vector indicating whether a character has a middle/second name.

In [198]:
#Question A
re.sub('([a-zA-Z]+[,])[\s]([a-zA-Z]+)', '\2 \1' , x)
#I couldn't get this to run but it is supposed to switch the two variables in parentheses
# it is somehow substituiting them for x01 and x02 and preforming the operation 
# on those instead.

'Moe Szyslak \x02 \x01. Montgomery Rev. Timothy Lovejoy Ned Flanders \x02 \x01 Dr. Julius Hibbert'

In [193]:
#Question B

#Here I am finding any 2 lettered word followed by a '.' with a space and the word after it.
re.findall('[a-zA-Z]{2,}[.][\s][a-zA-Z]+',x)

['Rev. Timothy', 'Dr. Julius']

In [194]:
#Question C

#Here I am finding a 1 letter word followed by a '.' with a space and the word after it.
#This should find an initial representing a second name.
re.findall('[A-Z]{1}[.][\s][a-zA-Z]+',x)

['C. Montgomery']

In [ ]:
#Quesiton 3** 
#Consider the HTML string
#"<title>+++BREAKING NEWS+++<title>". We would like to extract the first HTML tag (i.e., “<title>”).
#To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

In [168]:
textq3='<title>+++BREAKING NEWS+++<title>'
re.findall('<.+>', textq3)

['<title>+++BREAKING NEWS+++<title>']

This fails because it is saying "find a '<' and then any charecter and then return the whole segment" Since there is only one segment this is what it returns.

**Question 4** Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the formula in the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

In [170]:
textq5= '(5-3)^2=5^2-25*3+3^2'
re.findall('[^0-9=+()]+', textq5)

['-', '^', '^', '-', '*', '^']

This fails to return the formula because this says to ignore 0-9,=,+,() and to return everything else.

In [199]:
#Fix the expression
#find everything after the '='
re.findall('[=](.*)', textq5)

['5^2-25*3+3^2']